<extend name="Public/header"/>
<block name="main">

  <body class="f6" >
     <div class="top">
        <div class="weui-cell hg40">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd">
                <p class="topfont">维格特健身</p>
            </div>
        </div>
         <div class="backdiv white hg40">
          <img src="../img/back1.png" class="backimg">
          <span>忘记密码</span>
        </div> 
      </div>
      <div class="pd100">
       
        <div class="weui-flex hg45 mg30">
            <div><div class="placeholder d_otherdiv"></div></div>
            <div class="weui-flex__item userdiv userimg"><div class="placeholder"><input type="text" class="userinput"  placeholder="请输入手机号"></div></div>
            <div><div class="placeholder d_otherdiv"></div></div>
        </div>
        <div class="weui-flex hg45 mg30">
            <div><div class="placeholder d_otherdiv"></div></div>
            <div class="weui-flex__item pasimg userdiv"><div class="placeholder"><input type="text" class="userinput" placeholder="请输入新密码"></div></div>
            <div><div class="placeholder d_otherdiv"></div></div>
        </div>
        <div class="weui-flex hg45 mg30">
            <div><div class="placeholder d_otherdiv"></div></div>
            <div class="weui-flex__item initdiv"><div class="placeholder">确认</div></div>
            <div><div class="placeholder d_otherdiv"></div></div>
        </div>
      </div>
  </body>
   </block>

<block name="footerjs">
</block>