<extend name="Public/header"/>
<block name="main">
  <body class="f1" >
      <div class="">
        <div class="weui-flex myinfodiv" linkto="{:U('Teac/selfinfo')}">
            <div>
	            <div class="placeholder headbox1">
	            	<if condition="empty($teac['headpic'])">
	              		<img class="headbox" src="__WEBPUBLIC__/Home/img/head.png" alt="">
	              		<else/>
	              		<img class="headbox" src="{$teac.headpic}" alt="">
	            	</if>
	              <img class="headlogo" src="__WEBPUBLIC__/Home/img/head2.png" alt="">
	            </div></div>
	            <div class="weui-flex__item"><div class="placeholder headbox2">
	              <p class="myp1"><span>{$teac.name}</span><img src="__WEBPUBLIC__/Home/img/nan.png" alt=""></p>
	              <p class="myp2">{$teac.account}</p>
	            </div>
            </div>
            <div><div class="placeholder headbox3"><img src="__WEBPUBLIC__/Home/img/back2.png" alt=""></div></div>
        </div>

        <div class="" linkto="{:U('Teac/myuser')}" style="padding: 10px;color: #FC7247;">
          我的课程
        </div>
        
        <volist name="jkc" id="jkcobj">
        <div class="mymaindiv" style="margin-top:0px">
            <div class="weui-cell hg30 f9">
                <p class="c86">{$jkcobj['infotime']}</p>
            </div>
            <div>
              <div class="maindiv white" style="padding:10px;">
                <div class="weui-flex main2">
                  <div><div class="placeholder imgbox2">
                    <img src="__WEBPUBLIC__/Home/img/dian2.png" alt="">
                  </div></div>
                  <div class="weui-flex__item boederleftb"><div class="placeholder">
                    <p class="hg30">{$jkcobj['name']}</p>
                    <p class="hg30 p2">{$jkcobj['htime']}</p>
                  </div></div>
                  <div><div class="placeholder lookdiv" linkto="{:U('Jkc/kcinfo',array('kid'=>$jkcobj['kid']))}"><p class="look mgt15">查看</p></div></div>
                </div>
              </div>
            </div> 
        </div>
        </volist>
      </div>
  </body>
  </block>
<block name="footerjs">
</block>