<extend name="Public/public"/>
<block name="main">
     <div class="top">
        <div class="backdiv white hg40">
          <img src="__WEBPUBLIC__/Home/img/back1.png" class="backimg">
          <span>{$kc['tname']}的课程</span>
        </div> 
      </div>
      <div style="padding:30px 0px 50px;">
            <div class="bigimgbox">
              <img src="Uploads/{$kc['pic']}" alt="">
              <div class="imgboxfoot">
                <span>{$kc['name']}</span>
                <span class="spanright">{$kc['datestr']}{$kc['week']}{$kc['htime']}</span>
              </div>
            </div>
            <div class="imgbox3" style="padding:0px 10px">
              {$kc.desc}
            </div>
      </div>
      <div class="foot addorder">
         预约
      </div>
</block>
  <block name="footerjs">
  <script type="text/javascript">
    $('.addorder').on('click',function () {
      var kid = "{$kc['id']}";
      var tid = "{$kc['tid']}";
      var tname = "{$kc['tname']}";
      var ktime = "{$kc['ktime']}";
      var kname = "{$kc['name']}";
      var htime = "{$kc['htime']}";
      var weekday = "{$kc['week']}";
      var infotime = "{$kc['infotime']}";

      var dataobj = {
        kid:kid,
        tid:tid,
        tname:tname,
        ktime:ktime,
        kname:kname,
        htime:htime,
        weekday:weekday,
        infotime:infotime
      };
      requestUrl("{:U('Order/addorder')}",dataobj,function (res) {
        layer.msg(res.message);
      })

    });
  </script>
  </block>