<extend name="Public/header"/>
<block name="main">
  <body class="f9" >
     <div class="top">
        <div class="backdiv white hg40">
          <img src="__WEBPUBLIC__/Home/img/back1.png" class="backimg">
          <span>发布课程</span>
        </div> 
      </div>
      <div style="padding:30px 0px 50px;">
            <div class="bigimgbox">
              <img src="Uploads/{$kc['pic']}" alt="">
              <div class="imgboxfoot">
                <span>{$kc['name']}</span>
                <span class="spanright" linkto="{:U('Jkc/kcinfo',array('kid'=>$kc['id']))}">教程详情<img class="comeimg" src="__WEBPUBLIC__/Home/img/come2.png" alt=""></span>
              </div>
            </div>
            <div class="weui-cell hg40 colo88 f1">
              <img class="timeimg" src="__WEBPUBLIC__/Home/img/time.png" >
              <span class="">选择时间(可多选)</span>
            </div>
            <div class="timebox">
              <div class="weui-flex">
                <div><div class="placeholder ">
                <form action="" class="radiobox">
                <volist name="week" id="obj">
                <div>
                  <input class="radio1" type="radio" name="radio1" value="{$obj.time}">
                  <div class="weekdiv">
                    <div >
                      <div>
                        <span>
                          {$obj.month}月{$obj.day}日
                        </span>
                        <span>
                          周{$obj.week}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                </volist>
                </form>
                </div></div>
                <div class="weui-flex__item"><div class="placeholder time2box">
                  <volist name="house" id="obj">
                  <div class="">
                    <div class="timeobj" hid="{$obj.id}">
                     <span>{$obj.name}</span>
                     </div>
                  </div>
                  </volist>
                </div></div>
              </div>
            </div>
        </div>
      </div>
      <div class="foot putkc">
         提交审核
      </div>
  </body>
</block>
<block name="footerjs">
<script>
  $(".timeobj").on('click',function () {
    if (!curindex) {
      layer.msg("请先选择日期！");
      return;
    }
    $(this).toggleClass("on");
    var curid = $(this).attr("hid");
    var value = $(this).text();

    if (!obj[curindex]) {
      obj[curindex] = {};
    }
    if (obj[curindex][curid]) {
      delete obj[curindex][curid];
    }else{
      obj[curindex][curid] = $.trim(value);
    }
    console.log(obj);
  });
  var obj = {};
  var curindex;
  $(".radio1").on('click',function () {
    curindex = $(this).val();
    $(".timeobj").removeClass("on");
    var curobj = obj[curindex];
    for(var index in curobj){
      $("[hid='"+index+"']").addClass('on');
    }
  });

  $(".putkc").on('click',function () {
    var i = 0;
    for(var index in obj){
      var outobj = obj[index];
      for(var ind in outobj){
        if (outobj[ind]) {
          i++;
        }
      }
    }
    if (i == 0) {
      layer.msg("请选择课程时间！");
      return;
    }
    var kid = "{$kc['id']}";
    requestUrl("{:U('Jkc/addkc')}",{kid:kid,obj:obj},function (res) {
      layer.msg( res.message );
      if (res.flag == "success") {

      }else{

      }
    })
  });
</script>
</block>