<extend name="Public/header"/>
<block name="main">
<body class="" >
     <div class="top">
        <div class="backdiv white hg40 bb">
          <img src="__WEBPUBLIC__/Home/img/back1.png" class="backimg">
          <span>课程详情</span>
        </div> 
      </div>
      <div class="pd50">
           <div class="weui-cell hg40 bgw">
            {$res.name}
            </div>
            <div class="imgbox3" style="padding:0px 10px">
              {$res.desc}
            </div>
      </div>
  </body>
</block>
<block name="footerjs">
</block>