<extend name="Public/public"/>
<block name="main">
  <div class="">
  <!-- 轮播图 -->
    <div class="xq_box" style="width: 100%;height: 15rem;margin: 0 auto;max-width: 100%;">
        <div class="xq_slide_out">
          <ul class="xq_slide_in">
              <volist name="inpic" id="pic">
              <li>
                <a href="{$pic.href}"><img src="Uploads/{$pic.pic}"></a>
              </li>
              </volist>
          </ul>
        </div>
    </div>

    <div class="">
      <div class="weui-cell textdiv">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
            <p class="topfont ">已开放课程</p>
        </div>
        <div class="weui-cell__ft" linkto="{:U('User/self')}">个人中心</div>
      </div>
    </div>

    <div class="maindiv white">
      <volist name="jkcv" id="jkc">
        <div class="weui-flex main">
          <div><div class="placeholder imgbox">
            <img src="Uploads/{$jkc.headpic}" alt="">
          </div></div>
          <div class="weui-flex__item"><div class="placeholder">
            <p class="hg40">{$jkc.tname}->{$jkc.name}</p>
            <p class="hg40 p2">共{$jkc.ktime}课时</p>
          </div></div>
          <div><div class="placeholder lookdiv" linkto="{:U('Jkc/jkcinfo',array('id'=>$jkc['id']))}"><p class="look mgt25">查看</p></div></div>
        </div>
      </volist>
    </div>
  </div>
  </block>
  <block name="footerjs">
  <script type="text/javascript">

  $(".xq_slide_out").xq_slide({
    type: "h", //轮播方式  h水平轮播；v垂直轮播；o透明切换
    vatical: false, //图片描述性文本 true 显示 false不显示
    choseBtn: false, //是否显示上下切换按钮
    speed: 2000, //动画间隔的时间，以毫秒为单位。
    mousestop: true, //当鼠标移上去是否停止循环,针对PC端
    showbar: true, //是否显示轮播导航bar
    openmb: true //是否开启移动端支持
  });

  </script>
  </block>