<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user
    -scalable=no">
    <link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Home/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Home/css/ding.css">
    <link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Home/css/xq_slide.css">

    <block name="headdiv"></block>
    <title>1-1首页</title>
  </head>
  <block name="main">
  </block>
    <script type="text/javascript" src="__WEBPUBLIC__/Home/js/jquery.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Home/js/public.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Home/js/layer/layer.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Home/slide/js/xq_slide.js"></script>
    <block name="footerjs">
    </block>
</html>