<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user
    -scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/ding.css">
    <title>0-4忘记密码</title>
  </head>
  <body class="f9" >
     <div class="top">
        <div class="weui-cell hg40">
            <div class="weui-cell__hd"></div>
            <div class="weui-cell__bd">
                <p class="topfont">维格特健身</p>
            </div>
        </div>
        <div class="backdiv white hg40">
          <img src="../img/back1.png" class="backimg">
          <span>我的课程</span>
        </div> 
      </div>
      <div class="pd100">
            <div class="weui-cell hg40 bt10 pd10">
              <div class="weui-cell__bd">
                <p class="topfont">2017.05.10</p>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/dian2.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleftb"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white"> 
              <div class="weui-flex main2 bbee pb10">
                <div>
                  <div class="placeholder imgbox2">
                    <img src="../img/dian2.png" alt="">
                  </div>
                </div>
                <div class="weui-flex__item boederleftb">
                  <div class="placeholder">
                    <p class="hg30">瑜伽</p>
                    <p class="hg30 p2">13:00-14:00</p>
                  </div>
                </div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/dian2.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleftb"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/dian2.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleftb"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/dian2.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleftb"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/ok.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleft2"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
            <div class="maindiv white">
              <div class="weui-flex main2 bbee pb10">
                <div><div class="placeholder imgbox2">
                  <img src="../img/ok.png" alt="">
                </div></div>
                <div class="weui-flex__item boederleft2"><div class="placeholder">
                  <p class="hg30">瑜伽</p>
                  <p class="hg30 p2">13:00-14:00</p>
                </div></div>
                <div><div class="placeholder lookdiv"><p class="look mgt15">查看</p></div></div>
              </div>
            </div>
      </div>
  </body>
</html>